*{margin: 0;padding:0;box-sizing: border-box;}
.anh-slide{
    position: relative;
    width: 794px;
    height: 365px;
}
._1slide{
    position: absolute;
    top:0px;
    left:0px;
    height: 365px;
    width: 794px;
    opacity: 0;
    visibility: hidden;
}
.slider{
    position: relative;
    width: 794px;
    height: 415px;
    cursor: pointer;
    overflow: hidden;
}
.prev{
    position: absolute;
    top:40%;
    left: 0%;
    width:40px;
    z-index: 4;
    opacity: 0;
    visibility: hidden
}
.next{
    position: absolute;
    top:40%;
    right: 0%;
    z-index: 4;
    opacity: 0;
    visibility: hidden
}
.nut-slide ul{
    overflow: hidden;
    width: 100000px;
    position: absolute;
}
.nut-slide li{
    list-style: none;
    float:left;
    width:198px;
    height:50px;
    line-height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    border-right:1px solid white ;
    font-weight: bold;
    margin-right: 1px;
}
._1slide.active{
    opacity: 1;
    visibility: visible;
}
.nut-slide li.do{
    background-color: red;
}
/* Hiệu ứng */
.slider:hover .prev{
    animation: di-vao-ben-phai 0.15s forwards;
}
@-webkit-keyframes di-vao-ben-phai{
    0% {
        left:-100%;
        visibility: hidden;
        opacity: 0;
    }
    100%{
        left:0%;
        visibility: visible;
        opacity: 1;
    }
}
.slider:hover .next{
    animation: di-vao-ben-trai 0.15s forwards;
}
@-webkit-keyframes di-vao-ben-trai{
    0% {
        right:-100%;
        visibility: hidden;
        opacity: 0;
    }
    100%{
        right:0%;
        visibility: visible;
        opacity: 1;
    }
}
._1slide.troi-sang-trai{
    animation: troi-sang-trai 0.25s forwards;
}
@-webkit-keyframes troi-sang-trai{
    0% {
        left:0%;
        visibility: visible;
        opacity: 1;
    }
    100%{
        left:-100%;
        visibility: hidden;
        opacity: 0;
    }
}
._1slide.vao-ben-phai{
    animation: vao-ben-phai 0.25s forwards;
}
@-webkit-keyframes vao-ben-phai{
    0% {
        left:100%;
        visibility: hidden;
        opacity: 0;
    }
    100%{
        left:0%;
        visibility: visible;
        opacity: 1;
    }
}

._1slide.troi-sang-phai{
    animation: troi-sang-phai 0.25s forwards;
}
@-webkit-keyframes troi-sang-phai{
    0% {
        left:0%;
        visibility: visible;
        opacity: 1;
    }
    100%{
        left:100%;
        visibility: hidden;
        opacity: 0;
    }
}
._1slide.vao-ben-trai{
    animation: vao-ben-trai 0.25s forwards;
}
@-webkit-keyframes vao-ben-trai{
    0% {
        left:-100%;
        visibility: hidden;
        opacity: 0;
    }
    100%{
        left:0%;
        visibility: visible;
        opacity: 1;
    }
}
.chuyen-slide.di-chuyen-sang-trai{
    animation: di-chuyen-sang-trai 0.15s forwards;
}
@-webkit-keyframes di-chuyen-sang-trai{
    0% {
        left:0%;
    }
    100%{
        left:'+=-794px';
    }
}
.chuyen-slide.di-chuyen-sang-phai{
    animation: di-chuyen-sang-phai 0.15s forwards;
}
@-webkit-keyframes di-chuyen-sang-phai{
    0% {
        left:-794px;
    }
    100%{
        left:0%;
    }
}
.hoatdong{
    left:-100px;
}