*{margin:0;padding:0;box-sizing: border-box}
*{margin-top:30px;}
#box1{
    width:190px;
    height:50px;
    background-color: blue;
    line-height:50px;
    margin: auto;
    text-align: center;
    margin-top:0;
}
H2{
    font-family:"Tahoma","times new roman";
    font-weight: normal;
    text-align: center;
}
strong{color:dodgerblue;font-size:150%;
}
p{text-align: center}
ul{
    list-style-type: none;
    margin:30px auto;
    position: relative;
    left:500px;

}
ul li{
    width:180px;
    height:50px;
    background-color: black;
    line-height: 50px;
    text-align: center;
    float:left;
    margin: 0 12px;
    border-radius: 15px;
}
ul li a{
    text-decoration: none;
    color: white;

}